html,body
{
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}



@media screen and (max-width: 768px) {
    #top {
        background-image: url(starsback.png);
    }
    #heroBanner {
        background-image: none!important;
        align-self: center;

    }
}