html,body
{
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}




@media screen and (max-width: 1424px) {

    #bannerParent:first-child * {

        text-align: center;

    }

    #bannerParent:first-child {

        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
        
        


    }

    #top {

        min-height: unset!important;

    }

    #heroBanner {

        padding-top: 0rem!important;
        padding-bottom: 4rem!important;
        text-align: center!important;

    }

    #JourneyVideo {

        max-height: 300px;
        margin-top: 0rem;

    }

}


@media screen and (min-width: 1024px) {

    #bannerParent {

        display: flex!important;
        flex-direction: row-reverse!important;

    }

}

