html,body
{
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}




@media screen and (max-width: 1024px) {

    #bannerParent {

        display: flex;
        flex-direction: column-reverse;

    }

    #heroBanner:first-child * {

        text-align: center;

    }

    #heroBanner:first-child {

        padding-top: 5rem!important;
        padding-bottom: 5rem!important;


    }

}