html,body
{
    width: 100%;

    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}




@media screen and (max-width: 1024px) {

    #bannerParent:first-child * {

        text-align: center;

    }

    #bannerParent:first-child {

        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
        text-align: center!important;


    }

    #top {

        min-height: unset!important;

    }

    

}


@media screen and (min-width: 1024px) {

    #bannerParent {

        display: flex;
        flex-direction: row-reverse;

    }

}

